#Player{
    color: #FFFFFF;
    font-family: Arial;
    text-align: center;
    height: 720px;
    width: 540px;
}
body{
    background:linear-gradient(to bottom right, rgb(110, 110, 110), rgb(40, 40, 40));
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    justify-content: center;
}
#Playlist{
    color: gray;
}
h1{
    letter-spacing: 2px;
    font-size: 24px;
}
h3{
    font-size: 15px;
    letter-spacing: 2px;
}
ul{
    margin: 0;
    padding: 0;
}

ul li{
   list-style-type: none; 
}
ul li a{
    width: 60px;
    height: 60px;
    background: #f1f1f1;
    align-items: center;
    padding: 6px;
    border-radius: 50%;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(255,255,255,0.3);
    transition: box-shadow .5s;
    border: 0;
    display: block;
    position: relative;
}
ul li a:hover{
    box-shadow: 0 2px 5px rgba(255,255,255,0.3);
}
ul li a button{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    color: #262626;
    transition: box-shadow .5s;
    border: 0;
}